@model IDSCRegistrar.Models.RegistrarRequest

<h2>Edit Request</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.StudentName)
        @Html.TextBoxFor(m => m.StudentName, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StudentID)
        @Html.TextBoxFor(m => m.StudentID, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RequestType)
        @Html.TextBoxFor(m => m.RequestType, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RequestDate)
        @Html.TextBoxFor(m => m.RequestDate, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-success">Update</button>
}
